@import '../../assets/css/_component';

.flexLayout {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.navSidebar {
    flex: 0 0 30%;

    h2 {
        color: $c--blue;
        font-size: 3.6rem;
    }
}

.navQuestions button {    
    font-size: 1.4rem;
}


.currentPollHeading {
    font-size: 1.6rem;
    color: rgba($c--dark-grey, 0.7);
    position: relative;
    width: 100%;
    display: block;
    padding: 0 0 0.6rem;
    margin: 0 0 2.4rem;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1rem;
        background-color: rgba($c--dark-grey, 0.2);
    }
}


.questionsList {
    list-style-type: none;
    margin: 0 0 2rem;
    padding: 0;
    overflow: auto;
    position: relative;

    li {
        padding: 1.4rem 2rem;
        transition: all 0.35s ease-out;
        margin: 0;
        cursor: pointer;
        border-radius: 0.8rem;
        color: rgba($c--dark-grey, 0.7);

        &:hover {
            background-color: rgba($c--blue, 0.2);
        }

        &.active {
            color: $c--white;
            background-color: $c--blue;
        }
    }
}

.questionsList {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
        width: 1rem;
    }
    &::-webkit-scrollbar:horizontal {
        height: 1rem;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0.8rem;
        border: 0.2rem solid white; /* should match background, can't be transparent */
        background-color: rgba($c--dark-grey, 0.2);
    }
}


.currentPoll {
    flex: 1;
    margin-left: 2rem;
    padding-left: 4rem;
    border-left: 1px solid rgba($c--dark-grey, 0.1);
    
    h1 {
        color: $c--blue;
        font-size: 4.4rem;
        user-select: none;
    }
}


.pillToggle {
    display: flex;
    width: 100%;
    border-radius: 0.8rem;
    border: 1px solid rgba($c--dark-grey, 0.1);
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    margin: 0 0 4rem;

    &:before {
        content: '';
        width: 50%;
        height: 100%;
        background-color: $c--blue;
        position: absolute;
        top: 0;
        left: 0;
        transition: left 0.35s ease-out;
    }
    &.leftside:before {
        left: 0;
    }
    &.rightside:before {
        left: 50%;
    }

    .option {
        position: relative;
        flex: 1;
        text-align: center;
        cursor: pointer;
        transition: all 0.35s ease-out;
        color: rgba($c--dark-grey, 0.7);

        &.active {
            color: $c--white;
        }

        &:first-of-type {
            &:after {
                content: '';
                height: 60%;
                width: 1px;
                position: absolute;
                top: 20%;
                right: -0.05rem;
                background-color: rgba($c--dark-grey, 0.1);
            }
        }

        &:hover:not(.active) {
            background-color: rgba($c--blue, 0.2);
        }
    }

    p {
        color: rgba($c--dark-grey, 0.7);
        margin: 0;
        padding: 1.4rem;
        font-size: 1.4rem;
        user-select: none;
        color: inherit;
    }
}




// TRANSITIONS

.CC-enter, .CC-appear {
    opacity: 0;
}
.CC-enter-active, .CC-appear-active {
    opacity: 1;
    transition: opacity 0.35s 0.35s ease-out;
}
.CC-exit {
    opacity: 1;
}
.CC-exit-active {
    opacity: 0;
    height: 0;
    transition: opacity 0.35s ease-out, height 0.1s 0.35s linear;
}