@import '../../assets/css/_component';

.speakerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: calc(100% - 14rem);

    li {
        padding: 1.4rem 2rem;
        transition: all 0.35s ease-out;
        margin: 0;
        cursor: pointer;
        border-radius: 0.8rem;
        color: $c--dark-grey;

        &:hover {
            background-color: rgba($c--blue, 0.2);
        }

        &.active {
            color: $c--white;
            background-color: $c--blue;
        }
    }
}




.speakerList::-webkit-scrollbar {
    -webkit-appearance: none;
}

.speakerList::-webkit-scrollbar:vertical {
    width: 1rem;
}

.speakerList::-webkit-scrollbar:horizontal {
    height: 1rem;
}

.speakerList::-webkit-scrollbar-thumb {
    border-radius: 0.8rem;
    border: 0.2rem solid white; /* should match background, can't be transparent */
    background-color: rgba($c--dark-grey, 0.2);
}


.active {
    background-color: $c--blue;

    .textContainer {
        p {
            color: $c--white;
        }
        small {
            color: rgba($c--white, 0.7);
        }
    }
}


.flexSpeaker {
    display: flex;
    align-items: top;
}
.imgHolder {
    height: 6rem;
    width: 6rem;
    border-radius: 1.2rem;
    margin: 0 2rem 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba($c--dark-grey, 0.2)
}

.textContainer {
    flex: 1;

    p {
        font-size: 2rem;
        font-family: $f--heading;
        margin: 0;
        color: $c--blue;
    }

    small {
        font-size: 1.2rem;
        color: rgba($c--dark-grey, 0.7);
    }
}