@import './_variables';
@import './_mixins';
@import './_utility';
@import './_typography';
@import './_transitions';

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:focus {
        outline: none;
    }
}

html, body {
    margin: 0;
    padding: 0;
	font-size: 10px;
    line-height: 1;
    min-height: 100vh;
}
.container {
    max-width: 1024px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}
section {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: $c--white;
}

#root {
    min-height: 100vh;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}