@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HelveticaNeue.woff2") format("woff2"),
		 url("../fonts/HelveticaNeue.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h3 a {
	display: block;
	font-family: $f--heading;
	font-weight: 500;
	line-height: 1;
	margin: 0 0 2.4rem;
	width: 100%;
}


h1 {
	font-size: 6.4rem;
}

h2 {
	font-size: 4.8rem;
}

h3, h3 a {
	font-size: 3.6rem;
}

a {
	text-decoration: none;
	transition: all 0.35s ease-out;
}

p, li, address, span, a, label {
	font-size: 1.6rem;
	line-height: 1.2;
	font-family: $f--body;
	margin: .75rem 0 1.4rem;
	padding: 0;
	width: 100%;
}
p {
	color: rgba($c--dark-grey, 0.7);
}

small, sup {
	font-size: 1.2rem;
	line-height: 1;
	font-family: $f--body;
}

small {
	margin: 0 0 1.4rem;
	display: inline-block;
}

sup {
	vertical-align: top;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $c--white inset !important;
}

input, textarea {
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	border-bottom: 1px solid rgba($c--white, 0.5);
	background-color: transparent;
	padding: 1.4rem 0;
	margin: 0 0 3rem;
	font-size: 1.6rem;
	line-height: 1;

	&:read-only {
		border-bottom: 0;
		padding: 1.4rem 1rem;
		border-radius: 0.4rem;
		background-color: rgba($c--dark-grey, 0.1);
		color: rgba($c--dark-grey, 0.5);
		user-select: none;
	}
}

label {
	font-size: 1.2rem;
}

textarea {
	resize: none;
	height: 12rem;
	line-height: 1.4;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inputContainer {
	position: relative;
	margin: 0 0 1rem;

	&:last-of-type {
		margin: 0 0 3rem;
	}

	&.hasState, &.focusField {
		label {
			top: -0.6rem;
			transform: translateY(0);
			font-size: 1.2rem;
		}
	}

	&.focusField label {
		color: $c--blue;
	}

	&.halfWidth {
		input, textarea {
			width: 50%;
		}
	}

	label {
		position: absolute;
		top: 1.6rem;
		left: 0;
		margin: 0;
		user-select: none;
		transition: all 0.35s cubic-bezier(.2,.6,.33,.83);
		font-size: 1.6rem;
		cursor: pointer;
	}

	input, textarea {
		transition: border-color 0.35s cubic-bezier(.2,.6,.33,.83);

		&:focus {
			border-color: $c--blue;
		}
	}
}