.container {
	margin-left: auto;
	margin-right: auto;
    width: calc(100% - 34px);
	padding-left: 16px;
	padding-right: 16px;
	max-width: unquote($b--xl+'px');

	@include b--sm {
		width: 100%;
	}
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.flex {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: left;
}



.hide--md {
	@include b--md {
		display: none;
	}
}

.show--md {
	display: none;
	@include b--md {
		display: inherit;
	}
}

.show--sm {
	display: none;
	padding: 0;
	margin: 0;

	@include b--sm {
		display: inherit;
		padding: inherit;
		margin: inherit;
	}
}



.text--right {
	text-align: right;
}
.text--center {
	text-align: center;
}

.clearfix {
	clear: both;
}

.hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; 
	width: 1px;
	margin: -1px; 
	padding: 0; 
	border: 0;
}


.noPad {
	padding: 0 !important;
}

.card {
	background-color: $c--white;
}



// RECHARTS
.recharts-cartesian-axis-tick {    
    font-size: 2.6rem;
    font-family: $f--heading;
}


/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}