$c--black: #000;
$c--white: #FFF;

$c--light-grey: #EEE;
$c--dark-grey: #333;

$c--blue: #29ABE2;
$c--red: #E2294F;
$c--yellow: #E2BD29;

$c--green: #2DCC71;
$c--dark-green: #1D824C;

$c--dark-red: #7b1127;


$f--heading: 'Varela Round', sans-serif;
$f--body: 'Open Sans', sans-serif;
$f--title: 'HelveticaNeue', sans-serif;



// Grid
$g--cols: 12;


// Breakpoints
$b--xl: 1400;
$b--lg: 1200;
$b--md: 992;
$b--sm: 768;
$b--sc: 520;
$b--xs: 320;


@mixin b--xl {
    @media (max-width: #{$b--xl}px) {
        @content;
    }
}
@mixin b--lg {
    @media (max-width: #{$b--lg}px) {
        @content;
    }
}
@mixin b--md {
    @media (max-width: #{$b--md}px) {
        @content;
    }
}
@mixin b--sm {
    @media (max-width: #{$b--sm}px) {
        @content;
    }
}
@mixin b--sc {
    @media (max-width: #{$b--sc}px) {
        @content;
    }
}
@mixin b--xs {
    @media (max-width: #{$b--xs}px) {
        @content;
    }
}