@import '../../../assets/css/_component';

.snackbar {
    position: fixed;
    z-index: 22;
    bottom: 3rem;
    right: 3rem;
    background-color: $c--white;
    @include stdShadow;
    border-radius: 0.4rem;
    padding: 1.2rem 2rem;
    user-select: none;

    &.positive {
        background-color: $c--green;
        color: $c--dark-green;
    }

    &.negative {
        background-color: $c--red;
        color: $c--dark-red;
    }

    p {
        margin: 0;
        font-size: 1.2rem;
    }

}


// TRANSITIONS

.snack-enter, .snack-appear {
    opacity: 0;
    bottom: 0;
}
.snack-enter-active, .snack-appear-active {
    opacity: 1;
    bottom: 3rem;
    transition: all 0.35s cubic-bezier(.2,.6,.33,.83);
}
.snack-exit {
    opacity: 1;
    bottom: 3rem;
}
.snack-exit-active {
    opacity: 0;
    bottom: 0;
    transition: all 0.35s cubic-bezier(.2,.6,.33,.83);
}