@import '../../../assets/css/_component';

.menuNavigation {
    width: 60%;
    padding: 1.5% 5%;
   
    nav{
        display: flex;
        justify-content: flex-end;
    }
    nav a{
        padding: 0 .5%;
        margin:  0 .5%;
        display: block;
        color: $c--white;
    }
    nav a:hover {
        color: $c--dark-green;
    }
    button {
        display: block;
    }
   
    
}

@include b--sm {
    .menuNavigation {
        display: none;
    }
}

