@import '../../../assets/css/_component';

.screenBlanket {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($c--black, 0.3);
    z-index: 4;
    opacity: 1;
}

// TRANSITIONS

.fade-enter, .fade-appear {
    opacity: 0;
}
.fade-enter-active, .fade-appear-active {
    opacity: 1;
    transition: opacity 0.35s ease-out;
}  
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 0.35s 0.35s ease-out;
}