@import '../../assets/css/_component';

header {
    background-color: $c--blue;
    display: flex;
  
    @include b--md {
       
    }



    .siteTitle{ 
        width: 40%; 
        padding: 1.5% 5%;
    
        h3 a{
            color: $c--white;
        }
    }

}

@include b--sm {
    header {
        .siteTitle{ 
            width: 100%; 
        }
    }
}



