@import '../../assets/css/_component';

.formContainer {
    width: 46%;
    padding-left: 4%;


    h2 {
        font-size: 2.6rem;
        color: $c--blue;
        margin-bottom: 1rem;
    }

    button {
        display: none;

        @include b--md {
            display: block;
            width: 100%;
        }
    }
}

@include b--sm {
    .formContainer {
        width: 100%;
    }
}

.textContainer {
    flex: 1;

    p {
        color: rgba($c--dark-grey, 0.7);
        font-size: 1.4rem;
        line-height: 1.4;
        margin: 0;
    }
}
.theForm {
    padding: 4rem 0 2rem;

    input {
        width: 100%;
        border-bottom: 1px solid rgba($c--dark-grey, 0.1);
        font-size: 1.4rem;
        margin: 0 0 1rem;
        color: $c--dark-grey;

        &:last-of-type {
            margin: 0 0 2rem;
        }
    }

    button {
        display: block;
    }



    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba($c--dark-grey, 0.4);
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: rgba($c--dark-grey, 0.4);
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: rgba($c--dark-grey, 0.4);
    }
    :-moz-placeholder { /* Firefox 18- */
        color: rgba($c--dark-grey, 0.4);
    }

    input, textarea {
        width: 100%;
        border-bottom: 1px solid rgba($c--dark-grey, 0.1);
        color: rgba($c--dark-grey, 0.7);
    }

    label {
        color: rgba($c--dark-grey, 0.4);
    }

    small {
        margin: 0 0 2.8rem;
        color: rgba($c--dark-grey, 0.4);
        user-select: none;
    }

}


