@import '../../assets/css/_component';

.introText {
    background-color: $c--blue;
    color: $c--white;
   
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
    position: relative;
    overflow: hidden;
    padding: 3rem 2rem 6rem 2rem;
    margin-bottom: 5rem;
    min-width: 100%;
    @include b--md {
     
    }

    h1 {
        @include b--md {
            font-size: 3.2rem;
        }
    }

    
}